$primary: var(--primary);
$primary-light: var(--primary-light);

$background: var(--background);
$background-light: var(--background-light);

$bg-card: var(--bg-card); // 卡片背景
$bg-card-hover: var(--bg-card-hover); // 卡片背景-hover
$bg-input: var(--bg-input); // 输入框背景

$text: var(--text); // 主文本
$text-r: var(--text-r); // 主文本-反色
$text-light: var(--text-light); // 浅色文本

$nav: var(--nav); // 导航

$btn-bg: var(--btn-bg);
$btn-hover: var(--btn-hover);

$border: var(--border);

$box-shadow: var(--box-shadow);

$scrollbar: var(--scrollbar);
